@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #f1f5f9;
  --color-fg: #0b1e3f;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-feature-settings: "ss01", "cv11";
}
